.sider_container{
  .side_title{
    position: relative;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    background-color:#5AA7A7;
    box-shadow: 0 0 10px #5AA7A7;
    font-family: HYZY;
    font-size: 28px;
    text-shadow: 0 0 3px #96D7c6;
  }
}