.sider_container{
  .side_title{
    position: relative;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    background-color:#01a79a;
    // background-color:#5AA7A7;01a79a
    box-shadow: 0 0 10px #01a79a;
    font-family: HYZY;
    font-size: 28px;
    text-shadow: 0 0 3px #01c1b2;
  }
  .menu_container{
    height: 100%;
    overflow-y: scroll;

    :global{
      .ant-menu-submenu-selected{
        .ant-menu-submenu-title{
        font-family: HYZY;
        color: #fff;
        }
      }
      .ant-menu-item-selected{
        color: #01a79a;
      }
      .ant-menu-item:not(.ant-menu-item-selected):hover{
        color: #fff;
      }
      .ant-menu-title-content{
        font-family: HYZY;
      }
  }
  }
}
::-webkit-scrollbar{
  display: none;
}
