
.fix-header {
  position: fixed;
  top: 0;
  right: 0;
}
.title{
  color: #01a79a;
}
.logout{
  color: #01a79a;
  font-weight: bolder;
  float: right;
  right: 30px;
  font-family: HYZY;
  cursor: pointer;
  letter-spacing: 1px;
}